#vscode
.history/*


# builde
build/*
*.out
*.out*
*.so
*.so.*
*.dylib
*.dll
*.ll


# test file
charge_test.out.*

#gdb
*.gdb
*.gdbinit

# cmake
*.log*
build_crypto_runtime/

# pull script
merge-to-main.sh
pushMyBranch.sh
sync-with-main.sh

