#vscode
.history/*


# builde
build/*
*.out
*.out*
*.so
*.so.*
*.dylib
*.dll
*.ll

out/*
x64/*



# test file
charge_test.out.*
charge_test.*
epthook/*

#gdb
*.gdb
*.gdbinit

# cmake
*.log*
build_crypto_runtime/

# pull script
merge-to-main.sh
pushMyBranch.sh
sync-with-main.sh


.gdb_history